.main_button {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 6, 5;
    -fx-text-fill: #087E8B;
}

.main_anchor {
    -fx-background-color: #087E8B;
}

.anchor {
    -fx-background-color: #F5F5F5;
}

.action_button {
    -fx-background-color: #087E8B;
    -fx-background-radius: 6, 5;
    -fx-text-fill: #F5F5F5;
}

.choose_button {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 6, 5;
    -fx-text-fill: #087E8B;
    -fx-border-color: #087E8B;
    -fx-border-radius: 6, 5;
}

.choice-box {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 6, 5;
    -fx-border-color: #087E8B;
    -fx-border-radius: 6, 5;
    -fx-mark-color: #087E8B;
}

.choice-box > .label {
    -fx-text-fill: #087E8B;
    -fx-alignment: center;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #087E8B;
}

.choice-box .menu-item:focused {
    -fx-background-color: #087E8B;
    -fx-background-radius: 6, 5;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #F5F5F5;
}

.choice-box .context-menu {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 6, 5;
}

.text-area {
    -fx-text-fill: #777777;
    -fx-border-color: #F5F5F5;
}

.text-area .content {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #F5F5F5;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #F5F5F5;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
    -fx-border-color: #087E8B;
    -fx-border-insets: 2.0, 0.0, 0.0;
    -fx-border-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #087E8B;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.return_button {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 6, 5;
    -fx-text-fill: #087E8B;
    -fx-border-color: #087E8B;
    -fx-border-radius: 6, 5;
}

.path_label {
    -fx-text-fill: #777777;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #F5F5F5;
    -fx-border-radius: 6, 5;
}

.path_label_error {
    -fx-text-fill: #777777;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #D7263D;
    -fx-border-radius: 6, 5;
}

.password-field {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #777777;
    -fx-text-fill: #777777;
    -fx-border-radius: 6;
}

.password-field_error {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #D7263D;
    -fx-border-radius: 6;
    -fx-text-fill: #777777;
}

.message_header {
    -fx-background-radius: 6, 5;
    -fx-text-fill: #F5F5F5;
}

.message_text {
    -fx-text-fill: #777777;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #F5F5F5;
    -fx-border-radius: 6, 5;
}

.message_button {
    -fx-background-radius: 6, 5;
    -fx-text-fill: #F5F5F5;
}

.message_header {
    -fx-background-color: #087E8B;
    -fx-background-radius: 6, 5;
    -fx-text-fill: #F5F5F5;
}

.message_header_normal {
    -fx-background-color: #087E8B;
}

.message_button_normal {
    -fx-background-color: #087E8B;
}

.message_header_warning {
    -fx-background-color: #D7263D;
}

.message_button_warning {
    -fx-background-color: #D7263D;
}



